body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.SideBar{
	position: absolute;
	width: 20%;
	height: 98%;
	background-color: #aaaaaaaa;
	overflow-y: auto;
 }

.Map {
	position: absolute;
	width: 80%;
	height: 500px;
	right: 0px;
}

.Display {
	position: absolute;
	width: 80%;
	height: 400px;
	top: 400px;
	right: 0px;
}
.ImageContainer {
	width:100%;
    height:100%;
    object-fit: contain;
    overflow: hidden;
}